body{
	background-image: linear-gradient(to bottom, #8FBC8F, black, #FFF0F5); 
	margin-left: 60px;
	margin-right: 60px;
}

.jumbotron{ 
	border: 5px inset  #ADFF2F;
	background-image: url(tiny-squares/tiny-squares.png);
	height: 40vw;
}

#dropdownMenuButton{
	background-color: #ff6666;
	padding: 10px;
}

.display-4{
	font-family: 'Charmonman', cursive;
	color: darkblue;
	font-size: 40px;
}

.s2{
	padding: 20px;
	font-size: 20px;
	color: black;
	font-family: times new roman;
	background-image: radial-gradient(#ffcccc 30%, #EEE8AA, #F0F8FF);
	background-size: 100vw;
	margin-top: 20px;
	padding-bottom: 40px;
}

.display{
	display: flex;
	justify-content: center;
}

h3{
	font-size: 30px;
	padding: 20px;
}

.s4{
	border: 7px dotted white; 
	box-sizing: border-box;
	width: 90vw;
	margin: 0 auto;
}

.img{
	border: 5px groove white;
	border-radius: 50px;
	margin: 20px;
}

.s4 div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.t1{
	position: relative;
	left: 70px;
	margin-top: 60px;
	margin-bottom: 30px;
}

td{ 
	padding-left: 150px;
}

th{
	padding-left: 130px;
}

td, th{
	padding-top: 15px;
	padding-bottom: 15px;
}

table{
	table-layout: fixed;
	width: 80vw;
	border: 5px groove #8f3300;
	border-collapse: collape;
	font-size: 25px;
	color: #F8F8FF;
	font-family: 'Text Me One', sans-serif;
}

.dropup{
	color: #059ecc;
	font-family: 'Srisakdi', cursive;
	font-size: 45px;
	float: right;
}

